body {
    margin: 0px;
    padding: 0px;
}

#header {
    margin: 0 auto;
    width: 980px;
    text-align: right;
}

#logo {
    margin: 0 auto;
    width: 980px;

    text-align: center;
}

#logo h1 {
    font-family: 'Irish Grover', cursive;
    font-size: 50px;

    margin-bottom: 15px;
}

#content {
    margin: 0 auto;
    width: 980px;
}

#search_form_container {
    margin: 0 auto;
    width: 25em;
}

#search_results {
    list-style-type: none;
}

.loading {
    background-image: url('/images/loading.gif');
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 36px;
    height: 36px;
}

.staging {
    width: 40em;
    text-align: justify;
}

.centered {
    margin: 0 auto;
}