body {
    margin: 0px;
    padding: 0px;
}

#header {
    margin: 0 auto;
    width: 980px;
    text-align: right;
}

#logo {
    margin: 0 auto;
    width: 980px;

    text-align: center;
}

#logo h1 {
    font-family: 'Irish Grover', cursive;
    font-size: 50px;

    margin-bottom: 15px;
}

#content {
    margin: 0 auto;
    width: 980px;
}