<h2>Latest users that joined: </h2>
<% ((@users.size / 4) + 1).times do |row| %>
<div class="row">
  <% 4.times do |column| %>
    <% user = @users[row * 4 + column] %>
    <% if user %>
      <div class="span4 columns">
        <div class="user">
          <%= link_to user.name, user_path(user) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
<%= will_paginate @users %>
