<li class="search-item">
  <div class="row">
    <div class="span2 columns"><%= image_tag book.icon_url %></div>
    <div class="span10 columns">
      <span><%= html_encode(book.title) %></span>
      <span>(<%= html_encode(book.authors) %>)</span>
    </div>
    <div class="span3 columns"><%= render 'add_book_form', :book => book %></div>
  </div>
</li>
