$('ul').html('')
<%  @books.each do |item| %>
$('ul').append("<li><img src=\"<%= item.icon_url %>\"><a href=\"/books/create?asin=<%= item.asin %>\"><%= json_escape(item.title) %></a></li>");
<% end %>
