$('ul').html('')
<%  @books.each do |item| %>
$('ul').append("<li><img src=\"<%= item.raw[BooksController::BOOK_IMAGES[:icon]].URL %>\"><a href=\"/books/create?asin=<%= item.asin %>\"><%= json_escape(item.title) %></a></li>");
<% end %>
