<% unless RAILS_ENV == 'production' %>
<div class="centered staging">
<p>
Welcome, this is a beta/staging version of a book reading list application. The purpose of this little app is to help you keep track of the books you are reading, how much time is taking you to read them, some statistics about your reading, etc.
</p>
<p>
If you are here, log in using your twitter account and feel free to try it and <%= mail_to "bobby3999@yahoo.com", "let us know" %> if you have any problem or suggestion.
</p>
<p>
Keep in mind this is an staging/beta version, so it may be ugly, or missing features, or buggy so bear with us, let us know and enjoy the ride.
</p>
<p>
<sub>Latest version: 0.1.4, updated @ July 25th, 2011 - 12:40AM</sub>
</p>
</div>
<div class="centered staging">
  <h3>Changes in the latest version:</h3>
  <ul id="change_list">
    <li>Added a little help to the books#edit view.</li>
    <li>Changed the books#update code to return a validation error if any.</li>
    <li>Added a validation to reading logs so you cannot add a finish_date if you havent added a start_date.</li>
    <li>Improved the display of the reading times a little bit.</li>
    <li>Changed the pseudo-logo text.</li>
    <li>Changed the search button message.</li>
    <li>Changed users#show to use a book partial, modified the partial to work with users and without it</li>. Added reading information.
    <li>Added some basic reading calculations to ReadingLog</li>
    <li>Added a validation to reading logs so finish_date cannot be less than start_date.</li>
    <li>Changed the views to use more of Rails helpers.</li>
    <li>Added an Add Book button to the books#show action. The button is now in a partial.</li>
    <li>Fixed a bug where dates could not be nil, which is a valid use case.</li>
    <li>Added a list of users reading a certain book to several books controller actions.</li>
    <li>Added validation for dates in books#edit and added a default js view.</li>
    <li>Added a default format for dates and formated the dates in books#edit</li>
    <li>Added Chronic calls in books#edit to parse dates with natural language.</li>
    <li>Added Chronic and Stamp gems for date handling.</li>
    <li>Updated rake in the Gemfile.</li>
  </ul>
</div>
<% end  %>
