<% unless RAILS_ENV == 'production' %>

<div class="centered staging">
<h1>Welcome</h1>
<p>
This is a beta/staging version of a book reading list application. The purpose of this little app is to help you keep track of the books you are reading, how much time is taking you to read them, some statistics about your reading, etc.
</p>
<p>
If you are here, log in using your twitter account and feel free to try it and <%= mail_to "bobby3999@yahoo.com", "let us know" %> if you have any problem or suggestion.
</p>
<p>
Keep in mind this is an staging/beta version, so it may be ugly, or missing features, or buggy so bear with us, let us know and enjoy the ride.
</p>
<p>
<sub>Latest version: 0.1.5, updated @ August 31th, 2011 - 12:35AM</sub>
</p>
</div>
<div class="centered staging">
  <h3>Changes in the latest version:</h3>
  <ul id="change_list">
    <li>Fixed the layout of the book#edit action.</li>
    <li>Removed an emacs backup file.
    <li>Added an info message for books that you already have in the search results.
    <li>Styled the search books form.</li>
    <li>Removed the search box from the menu bar.</li>
    <li>Added style to the error messages and info messages, moved them inside the content block.</li>
    <li>Switch the loading order of stylesheets</li>
    <li>Fixed the path to the stylesheet</li>
    <li>added new menu! new search field needs to be coded</li>
    <li>new buttons and aligned on search results</li>
    <li>twitter bootstrap added</li>
    <li>Fixed AmazonBook model to work with latest changes to the asin gem.</li>
    <li>Updated the gems</li>
    <li>Updated gems.</li>
    <li>Just added a blank space.</li>
    <li>Modified the rendering of the partials to be less verbose and more rails like.</li>
  </ul>
</div>
<% end %>
