<% unless RAILS_ENV == 'production' %>
<div class="centered staging">
<p>
Welcome, this is a beta/staging version of a book reading list application. The purpose of this little app is to help you keep track of the books you are reading, how much time is taking you to read them, some statistics about your reading, etc.
</p>
<p>
If you are here, log in using your twitter account and feel free to try it and let us know if you have any problem or suggestion.
</p>
<p>
Keep in mind this is an staging/beta version, so it may be ugly, or missing features, or buggy so bear with us, let us know and enjoy the ride.
</p>
</div>
<% end  %>
